# Email Spam Detection

In [9]:
#Importing necessary library
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split 
from sklearn.feature_extraction.text import TfidfVectorizer 
from sklearn.svm import SVC 
from sklearn.metrics import accuracy_score, classification_report

In [6]:
df=pd.read_csv("spam.csv",encoding="latin-1")

In [7]:
df

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

In [11]:
df.describe

<bound method NDFrame.describe of         v1                                                 v2 Unnamed: 2  \
0      ham  Go until jurong point, crazy.. Available only ...        NaN
1      ham                      Ok lar... Joking wif u oni...        NaN
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...        NaN
3      ham  U dun say so early hor... U c already then say...        NaN
4      ham  Nah I don't think he goes to usf, he lives aro...        NaN
...    ...                                                ...        ...
5567  spam  This is the 2nd time we have tried 2 contact u...        NaN
5568   ham              Will Ì_ b going to esplanade fr home?        NaN
5569   ham  Pity, * was in mood for that. So...any other s...        NaN
5570   ham  The guy did some bitching but I acted like i'd...        NaN
5571   ham                         Rofl. Its true to its name        NaN

     Unnamed: 3 Unnamed: 4
0           NaN        NaN
1           NaN        NaN
2           NaN        NaN
3           NaN        NaN
4           NaN        NaN
...         ...        ...
5567        NaN        NaN
5568        NaN        NaN
5569        NaN        NaN
5570        NaN        NaN
5571        NaN        NaN

[5572 rows x 5 columns]>

In [12]:
df.shape

(5572, 5)

In [13]:
df.isnull().sum()

v1               0
v2               0
Unnamed: 2    5522
Unnamed: 3    5560
Unnamed: 4    5566
dtype: int64

In [15]:
df=df.rename(columns={'v1':'label', 'v2':'email'})
df

,label,email,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [16]:
df=df.dropna(axis=1)

In [17]:
df

     label                                              email
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will Ì_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [18]:
df.isnull().sum()

label    0
email    0
dtype: int64

In [20]:
df['label']=df['label'].replace({'ham':'non spam','spam':'spam'})

C:\Users\Aryan\AppData\Local\Temp\ipykernel_7400\3306297411.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['label']=df['label'].replace({'ham':'non spam','spam':'spam'})

In [21]:
df

         label                                              email
0     non spam  Go until jurong point, crazy.. Available only ...
1     non spam                      Ok lar... Joking wif u oni...
2         spam  Free entry in 2 a wkly comp to win FA Cup fina...
3     non spam  U dun say so early hor... U c already then say...
4     non spam  Nah I don't think he goes to usf, he lives aro...
...        ...                                                ...
5567      spam  This is the 2nd time we have tried 2 contact u...
5568  non spam              Will Ì_ b going to esplanade fr home?
5569  non spam  Pity, * was in mood for that. So...any other s...
5570  non spam  The guy did some bitching but I acted like i'd...
5571  non spam                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [22]:
#converting categorical value into numerical
df.loc[df['label']== 'spam','label',]=0
df.loc[df['label']== 'non spam','label',]=1

In [23]:
df

     label                                              email
0        1  Go until jurong point, crazy.. Available only ...
1        1                      Ok lar... Joking wif u oni...
2        0  Free entry in 2 a wkly comp to win FA Cup fina...
3        1  U dun say so early hor... U c already then say...
4        1  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567     0  This is the 2nd time we have tried 2 contact u...
5568     1              Will Ì_ b going to esplanade fr home?
5569     1  Pity, * was in mood for that. So...any other s...
5570     1  The guy did some bitching but I acted like i'd...
5571     1                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [24]:
#taking feature and target variable

x=df['email']  #feature
y=df['label']  #target

In [26]:
#splitting the data into training and testing
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [30]:
# Feature extraction

tfidf = TfidfVectorizer (min_df = 1, stop_words='english', lowercase=True)

In [49]:
#fitting and transforming the training data

x_train_feature= tfidf.fit_transform(x_train)
x_test_feature= tfidf.transform(x_test)

In [50]:
#Transforming the testing data x_test_feature = tfidf.transform(x_test)

y_train =y_train.astype(int)

y_test = y_test.astype(int)

In [51]:
svm=SVC()

svm.fit(x_train_feature,y_train)

SVC()

In [54]:
y_pred=svm.predict(x_test_feature)

accuracy = accuracy_score(y_test,y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.9766816143497757

In [56]:
report=classification_report(y_test, y_pred)
print("Classification report :",report)

Classification report :               precision    recall  f1-score   support

           0       0.99      0.83      0.91       150
           1       0.97      1.00      0.99       965

    accuracy                           0.98      1115
   macro avg       0.98      0.92      0.95      1115
weighted avg       0.98      0.98      0.98      1115

In [ ]:
# Predicting spam and non-spam message

mail_message = [input("Enter a message: ")]
mail_feature = tfidf.transform(mail_message) 
prediction = svm.predict(mail_feature)
print(prediction)

if prediction[0] == 1: 
    print("not-spam")

else:
    print("spam")